.home-display{
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.data-section{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.calculation-section{
    margin: 20px;
}

@media screen  and (max-width:420px){
    .data-section{
        display: grid;
        grid-template-columns: 1fr;
    }    
}
@media screen and (min-width:421px) and (max-width:770px){
    .data-section{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
}